header {
  background-color: hsl(217, 28%, 15%);
  padding: 1rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;

    .translate-btn {
      font-size: 1.5em;

      &:hover {
        color: hsl(176, 68%, 64%);
        transform: scale(1.05);
      }
    }

    & .nav-item:hover {
      color: hsl(176, 68%, 64%);
    }
  }

  & .logo {
    width: 180px;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    font-size: 0.8em;


    .logo {
      width: 100px;
    }

    .nav-list{
      gap: 1rem;
    }
  }
}
